/*Index (starter page)*/
/*animation starter page*/

@keyframes BackgroundColorBlackToWhite {
    0%{
        background-color: black;
    }
    100%{
        background-color: #bbb2b2;
    }
}
@keyframes TextColorWhiteToBlack {
    0%{
        color: white;
    }
    100%{
        color: black;
    }
}

.bodyIndex{
    animation: BackgroundColorBlackToWhite 5s ease-in-out forwards;
}
#IndexWebTitel{
    animation: TextColorWhiteToBlack 5s ease-in-out forwards;
    text-align: center;
    font-size: 4rem;
}

.row{
    width: 100%;
}

.middleBlocksIndex{
    display: grid;
    justify-content: center;
    font-family: cursive;
    padding-top: 5rem;
}
.middleBlocksIndex li {
    list-style-type: none; /*nichts vor dem Text anzeigen*/
}
.middleBlocksIndex div{
    margin-bottom: 1.5rem; /*Abstand zur linker Seite und den Block*/
    background-color: lightgray; /*Hintergrunds Farbe*/
    padding: 3rem; /*Abstand um den Content runter rum*/
    border-radius: 1rem; /*Rundet die Seiten von den Blöcken*/
    text-align: center; /*Macht den Text in den Blöcken Mittig*/
}
.middleBlocksIndex a {
    font-size: 1.5rem; /*Schrift größe*/
    color: black; /*Schriftfarbe schwarz*/
    text-decoration: none; /*nichts unter dem Text anzeigen*/
}
.middleBlocksIndex li:hover {

    border-radius: 10rem;
    transition: all 0.5s; /*übergang dauer*/
    transform: scale(1.2); /* Zoomt den Block um die gegebene Prozent Anzahl*/
    text-align: center;/*Center die Schrift wenn man Zoomt*/


    box-shadow: 11px 36px 65px 15px rgba(0,0,0,0.72);   /*Box Shadow*/
    -webkit-box-shadow: 11px 36px 65px 15px rgba(0,0,0,0.72); /*Box Shadow*/
    -moz-box-shadow: 11px 36px 65px 15px rgba(0,0,0,0.72); /*Box Shadow*/
}

/*World Wide Web*/
.bodyWWW {
    background-color: #534b4b;
    margin: 1rem;
    font-family: "Google Sans", arial, sans-serif;
}

.HeaderHomeButton {
    overflow: hidden;
    display: flex;
    background-color: #ab9e9e;
    justify-content: center;

    box-shadow: 0px 10px 25px 7px rgba(0,0,0,0.79);
    -webkit-box-shadow: 0px 10px 25px 7px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 10px 25px 7px rgba(0,0,0,0.79);
    border-radius: 1rem;
}
.HeaderHomeButton a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #ab9e9e;
    color: black;
    border-radius: 1rem;
}
.HeaderHomeButton a:hover {
    background-color: darkgray;

    transform: scale(1.2); /* Zoomt den Block um die gegebene Prozent Anzahl*/
    text-align: center;/*Center die Schrift wenn man Zoomt*/
}


.ContentBox{

    & button {
        background-color: #ab9e9e;
    }

    background-color: white;
    padding-inline: 20%;

    .worldWideWeb{
        text-align: center;
        font-size: 1.1rem;
    }

    .webServer{
        text-align: center;

        font-size: 1.1rem;
    }

    .webClient{
        text-align: center;

        font-size: 1.1rem;
    }

    .helloWorld{
        text-align: center;

        font-size: 1.1rem;
    }
}
.contentTitle {
    text-align: center;
    background-color: #ab9e9e;
    font-family: cursive;

    padding-left: 2rem;
    padding-right: 2rem;

    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 2rem;

    margin-left: 30%;
    margin-right: 30%;

    box-shadow: 0px 10px 25px 7px rgba(0,0,0,0.79);
    -webkit-box-shadow: 0px 10px 25px 7px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 10px 25px 7px rgba(0,0,0,0.79);
}



/*Html*/


.bodyHtml{
    margin-top: 1rem;
}

.ContentBox{

    .componentsHtml{
        padding: 10%;
        margin-inline: 35%;
        background-color: #ab9e9e;
        text-align: center;

        font-size: 1.1rem;
    }


    .voidElementsHtml{
        padding: 5%;
        margin-inline: 35%;
        background-color: #ab9e9e;
        text-align: center;

        font-size: 1.1rem;
    }


    .attributesHtml{
        padding: 5%;
        margin-inline: 35%;
        background-color: #ab9e9e;
        text-align: center;

        font-size: 1.1rem;
    }


    .declerationHtml{
        padding: 5%;
        margin-inline: 35%;
        background-color: #ab9e9e;
        text-align: center;

        font-size: 1.1rem;
    }

    .listsHtml{
        padding: 5%;
        margin-inline: 15%;
        background-color: #ab9e9e;
        font-size: 1.1rem;
    }

    .tablesHtml{
        padding: 5%;
        margin-inline: 15%;
        background-color: #ab9e9e;

        font-size: 1.1rem;
    }


    .correctStatementsHtml{

        background-color: #ab9e9e;
        margin-inline: 15%;

        font-size: 1.1rem;
    }
}


/*Css*/

.bodyCss{
    background-color: #534b4b;
}

.ContentBox{
    background-color: #534b4b;

    .cssPropertyCss{
        background-color: #ab9e9e;
        text-align: center;
        margin-inline: 10%;

        font-size: 1.1rem;
    }

    .combinatorsProperlyCss{
        background-color: #ab9e9e;
        margin-inline: 10%;

        font-size: 1.1rem;
    }

    .colorsHexadecimalCss{
        background-color: #ab9e9e;
        margin-inline: 10%;

        font-size: 1.1rem;
    }

    .colorDeclarationCss{
        background-color: #ab9e9e;
        margin-inline: 10%;

        font-size: 1.1rem;
    }

    .pseudoClassesCss{
        background-color: #ab9e9e;
        margin-inline: 10%;

        font-size: 1.1rem;
    }

    .backgroundImageCss{
        background-color: #ab9e9e;
        margin-inline: 10%;

        font-size: 1.1rem;
    }

    .textAlignmentCss{
        background-color: #ab9e9e;
        margin-inline: 10%;

        font-size: 1.1rem;
    }

    .textDecorationCss{
        background-color: #ab9e9e;
        margin-inline: 10%;

        font-size: 1.1rem;
    }
    .textTransformationCss{
        background-color: #ab9e9e;
        margin-inline: 10%;

        font-size: 1.1rem;
    }

    .serifAndSansSerifFondsCss{
        background-color: #ab9e9e;
        margin-inline: 10%;

        font-size: 1.1rem;
    }

    .fontsFamiliesCss{
        background-color: #ab9e9e;
        margin-inline: 10%;

        font-size: 1.1rem;
    }

    .fontStyleCss{
        background-color: #ab9e9e;
        margin-inline: 10%;

        font-size: 1.1rem;
    }

    .fontSizeCss{
        background-color: #ab9e9e;
        margin-inline: 10%;

        font-size: 1.1rem;
    }

    .fontWeightCss{
        background-color: #ab9e9e;
        margin-inline: 10%;

        font-size: 1.1rem;
    }

}
